
div.element {
   height:150px;
   width:200px;
   background-color: antiquewhite;
   border: 2px solid black;
   margin: 300px auto auto auto;

   transition: all 2s ease 0s;
   padding:15px;
}


div.element:hover {
   background-color:teal;
   transform: scale(2,2) translate(100px, 100px) rotate(30deg) skew(20deg, 20deg);
}



